/* Estilos para el contenedor principal */
.login-container {
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    height: 100vh;            /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0; /* Fondo claro para el contenedor */
    padding: 20px;            /* Espaciado alrededor */
}

/* Estilos para el contenedor del formulario */
.login-form {
    background-color: #6ec1e4; /* Fondo azul */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;  /* Ancho máximo del formulario */
    color: white;
    text-align: center;
    position: relative;  /* Para asegurar que la imagen se sitúe detrás */
}

/* Imagen en la parte superior del contenedor sin borde */
.login-image {

    top: 0;
    left: 0;
    width: 100%;
    height: 200px;  /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra toda el área sin deformarse */
    border-radius: 10px;
    z-index: -1;  /* Pone la imagen detrás del contenido del formulario */
}

/* Estilos para los grupos de entrada */
.input-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    width: 25%; /* Ancho fijo para la etiqueta */
}

.input-group input {
    width: 70%; /* Ajusta el ancho del campo de entrada */
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

/* Estilo para el botón de inicio de sesión */
button {
    display: center;
    width: 100%;
    padding: 10px;
    width: 100px;
    background-color: white;  /* Fondo blanco */
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 5px;
    color: #007bff;  /* Letras azules */
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;  /* Espacio entre el botón y el formulario */
}

/* Estilo para el error */
p {
    margin-top: 10px;
    text-align: center;
    color: red;
}
