.main-content {
    text-align: center;
    padding: 20px;
  }
  
  .hero h2 {
    color: #6ec1e4;
  }
  
  .images img {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }
  