/* Asegúrate de que el contenedor tenga suficiente altura */
.container-usuariotipo {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center;     /* Centra los botones verticalmente */
    height: 100vh;           /* Asegura que el contenedor ocupe toda la altura de la ventana */
  }
  
  .button-usuario {
    font-size: 25px;      /* Tamaño de la fuente */
    color: white;         /* Color del texto */
    margin: 0 10px;       /* Espacio entre los botones */
    cursor: pointer;     /* Cambia el cursor cuando pasa por encima */
    background-color: #6ec1e4; /* Color de fondo */
    border: none;         /* Elimina el borde por defecto */
    border-radius: 5px;   /* Bordes redondeados */
    transition: background-color 0.3s; /* Efecto suave al pasar el ratón */
    justify-content: center;
    min-width: 300px !important; /* Asegura un ancho mínimo */
    min-height: 50px !important;
  }
  
  /* Efecto al pasar el ratón */
  .button-usuario:hover {
    background-color: #83b0c5; /* Cambia el color de fondo cuando se pasa el ratón */
  }
  